# DataFrames

using Pkg
Pkg.add("DataFrames")

In [20]:
using DataFrames

df = DataFrame(Title =  ["Engineer", "Developer", "Designer", "DB Administrator", "Mobile Developer", "Data Scientist"],
               Salary =  [20000, 30000, 25000, 26000, 30000, 40000])

6×2 DataFrame
 Row │ Title             Salary
     │ String            Int64
─────┼──────────────────────────
   1 │ Engineer           20000
   2 │ Developer          30000
   3 │ Designer           25000
   4 │ DB Administrator   26000
   5 │ Mobile Developer   30000
   6 │ Data Scientist     40000

In [1]:
df[:,:Engineer]

UndefVarError: UndefVarError: `df` not defined

# CSV
using Pkg
Pkg.add("CSV")

In [2]:
using CSV

CSV.write("data.csv", df)

#CSV.read("data.csv")

UndefVarError: UndefVarError: `df` not defined